/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.eastwood
.hg/
.idea/workspace.xml
replay_pid16640.log
hs_err_pid16640.log
/resources/high_score.txt
projectFilesBackup/
